header{
    background-color: #83050F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
}
.header-helper{
    width: 96%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    width: 10%;
    height: 80%;
    cursor: pointer;
}
.header-logo img{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: contain;
}
.header-options{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-family: 'Roboto';
    gap: 15px;
}
.header-options a,.mobile-header-extend a{
    color: white;
    text-decoration: none;
}
.header-options li {
    text-decoration: none;
    position: relative;
}
.header-options li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease;
}
.header-options li:hover::after {
    width: 100%;
}
.header-bm{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
}

.hbm-helper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30px;
    width: 30px;
}
.hbm-l{
    width: 100%;
    height: 2px;
    background-color: white;
}
.mobile-header-extend{
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    display: none;
    background-color: #83050F;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.5);
    z-index: 20;
}
.mbe-helper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.mbe-helper li{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px 0px;
    border-bottom: 1px solid white;
}
.mbe-helper li:hover{
    background-color: #5A0307;
}
@media (max-width:1225px) {
    .header-logo{
        width: 20%;
        height: 100%;
    }
    .header-options{
        display: none;
    }
    .header-bm{
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .mobile-header-extend{
        box-sizing: border-box;
        height: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: height 0.3s ease;
    }
}