.homepage-first-section{
    box-sizing: border-box;
    height: 70%;
    width: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide img{
    object-position: center center;
    object-fit: cover;
}
@media (max-width:550px){
    .homepage-first-section{
        height: 100%;
    }
}