.homepage-first-section{
    position: relative;
    box-sizing: border-box;
    height: 70%;
    width: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
}
.homepage-second-section{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.homepage-second-section-two{
    width: 80%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding:0 2.5%;
}
.homepage-second-section-one{
    width: 80%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    margin-bottom: 20px;
}
.project-unit{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    min-height: 200px;
    min-width: 200px;
    margin-top: 20px;
}
.project-image{
    height: 65%;
    width: 75%;
}
.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.project-name{
    font-weight: bold;
    font-size: 18px;
}
.homepage-third-section{
    background-color: #83050F;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2%;
    color: white;
}
.homepage-third-section h1{
    font-style: italic;
}
.third-left{
    width: 45%;
}
.third-right{
    width: 50%;
    height: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    overflow: hidden;
}
.third-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.third-left-mini-heading{
    font-style: italic;
    font-size: 20px;
}
.homepage-fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px 0px;
}
.fourth-heading{
    font-weight: bold;
    font-size: 32px;
}
.fourth-following{
    width: 90%;
    text-align: center;
}
.fourth-services{
    display: flex;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}
.fourth-services-unit{
    flex: 1;
    min-width: 250px;
}
.homepage-fifth-section{
    display: flex;
    background-color: #83050F;
    color: white;
    gap: 2%;
}
.fifth-image{
    width: 50%;
    overflow: hidden;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.fifth-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; 
}
.fifth-right{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.fifth-heading{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.homepage-sixth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:25px 0px;
}
.sixth-grid{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5%;
}
.sixth-unit{
    flex: 1;
    margin-top: 15px;
    min-height: 250px;
    min-width: 350px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.sixth-unit img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.map-div{
    display: flex;
}
.map-div iframe{
    width: 100%;
}
@media (max-width:1260px){
    .homepage-fifth-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fifth-image{
        width: 100%;
        border-radius: 0;
    }
    .fifth-right{
        width: 90%;
        margin-top: 10px;
    }
    .homepage-third-section{
        flex-direction: column;
        height: auto;
    }
    .third-left{
        width: 90%;
    }
    .third-right{
        border-radius: 0;
        width: 100%;
    }
    .third-left-mini-heading{
        font-style: italic;
        font-size: 20px;
    }
}
@media (max-width:550px){
    .sixth-grid{
        width: 90%;
    }
    .sixth-unit{
        min-height: 150px;
        min-width: 200px;
        max-height: 200px;
        max-width: 250px;
    }
    .homepage-first-section{
        height: 90%;
    }
    .homepage-second-section{
        height:auto;
    }
    .project-unit{
        margin-top: 20px;
        min-width: 200px;
        min-height: 200px;
    }
}